<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="#">Twig Quest</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Cards</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>